<div class="e-card " id="articlesList">
    <div class="card-header">
        <h2>Fichiers / Articles</h2>
        <div class="actions">
            <h5>
                <i class="fas fa-sync rounded clickable"></i>
                <i class="fas fa-file-medical rounded clickable"></i>
                <i class="fas fa-trash rounded disabled clickable"></i>
                <i class="fas fa-times rounded clickable"></i>

            </h5>
        </div>
    </div>
    <div class="card-title">
        <form>
            <div class="row">
                <div class="col-md-3">
                    Familles
                </div>
                <div class="col-md-3">
                    Sous-familles
                </div>
                <div class="col-md-3">
                    Marques
                </div>
                <div class="col-md-3">
                    Classification
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <select data-placeholder="" class="chosen-select" tabindex="2">
                        <option value="all" selected>Toutes</option>
                        <option value="">Famille 1</option>
                        <option value="">Famille 2</option>
                        <option value="">Famille 3</option>
                        <option value="">Famille 4</option>
                        <option value="">Famille 5</option>
                        <option value="">Famille 6</option>
                        <option value="">Famille 7</option>
                        <option value="">Famille 8</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select data-placeholder="" class="chosen-select" tabindex="2">
                        <option value="all" selected>Toutes</option>
                        <option value="">Sous Famille 1</option>
                        <option value="">Sous Famille 2</option>
                        <option value="">Sous Famille 3</option>
                        <option value="">Sous Famille 4</option>
                        <option value="">Sous Famille 5</option>
                        <option value="">Sous Famille 6</option>
                        <option value="">Sous Famille 7</option>
                        <option value="">Sous Famille 8</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <select data-placeholder="" class="chosen-select" tabindex="2">
                        <option value="all" selected>Toutes</option>
                        <option value="">Marque 1</option>
                        <option value="">Marque 2</option>
                        <option value="">Marque 3</option>
                        <option value="">Marque 4</option>
                        <option value="">Marque 5</option>
                        <option value="">Marque 6</option>
                        <option value="">Marque 7</option>
                        <option value="">Marque 8</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <select data-placeholder="" class="chosen-select" tabindex="2">
                        <option value="all" selected>Toutes</option>
                        <option value="">Classification 1</option>
                        <option value="">Classification 2</option>
                        <option value="">Classification 3</option>
                        <option value="">Classification 4</option>
                        <option value="">Classification 5</option>
                        <option value="">Classification 6</option>
                        <option value="">Classification 7</option>
                        <option value="">Classification 8</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-2">Fournisseurs</div>
                <div class="col-md-4">
                    <select data-placeholder="" class="chosen-select" tabindex="2">
                        <option value="all" selected>Tous</option>
                        <option value="">Fournisseur 1</option>
                        <option value="">Fournisseur 2</option>
                        <option value="">Fournisseur 3</option>
                        <option value="">Fournisseur 4</option>
                        <option value="">Fournisseur 5</option>
                        <option value="">Fournisseur 6</option>
                        <option value="">Fournisseur 7</option>
                        <option value="">Fournisseur 8</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Contient" class="form-control">
                </div>
                <div class="col-md-2">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">En stock</label>
                </div>
            </div>

        </form>
        <script>
            var configChoosenArticles = {
                '.chosen-select': {},
                '.chosen-select-deselect': {allow_single_deselect: true},
                '.chosen-select-no-single': {disable_search_threshold: 10},
                '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
                '.chosen-select-rtl': {rtl: true},
                '.chosen-select-width': {width: '95%'}
            }
            for (var selector in configChoosenArticles) {
                $(selector).chosen(configChoosenArticles[selector]);
            }
        </script>
    </div>

    <div class="card-body">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

        <br>
        <input type="text">
    </div>
    <div class="card-footer">
        <div class="win-size-grip" id="resize-articlesList"></div>
    </div>

    <script>
        makeBoxe('#articlesList', "#resize-articlesList")
    </script>
</div>

