<!-- Sidebar Section Starts -->
<aside class="main-sidebar">
    <div class="nano">
        <div class="nano-content">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">TIJARA SHOP</li>




                <li class="treeview">
                    <a href="#">
                        <i class="fas fa-file-alt"></i>
                        <span>Fichiers</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                        <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                    </ul>
                </li>
                <!--
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Charts</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#"><i class="fa fa-circle-o"></i>
                                <span>ChartJS</span>
                                <span class="pull-right-container">
											<i class="fa fa-angle-left pull-right"></i>
										</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/charts/pie-chart.html"><i class="fa fa-circle-o"></i> Pie Chart</a></li>
                                <li><a href="pages/charts/line-chart.html"><i class="fa fa-circle-o"></i> Line Chart</a></li>
                                <li><a href="pages/charts/bar-chart.html"><i class="fa fa-circle-o"></i> Bar Chart</a></li>
                            </ul>
                        </li>
                        <li><a href="pages/charts/sparkline.html"><i class="fa fa-circle-o"></i> Sparkline</a></li>
                        <li><a href="pages/charts/flot-chart.html"><i class="fa fa-circle-o"></i> Flot Charts</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>UI Elements</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">

                        <li><a href="pages/elements/font-awesome-icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                        <li><a href="pages/elements/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                        <li><a href="pages/elements/hr-timeline.html"><i class="fa fa-circle-o"></i> Horizontal Timeline</a></li>
                        <li><a href="pages/elements/timeline.html"><i class="fa fa-circle-o"></i> Vertical Timeline</a></li>
                        <li><a href="pages/elements/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                        <li><a href="pages/elements/sweet-alert.html"><i class="fa fa-circle-o"></i> Sweet Alerts</a></li>
                        <li><a href="pages/elements/accordion.html"><i class="fa fa-circle-o"></i> Accordions</a></li>
                        <li><a href="pages/elements/progressbars.html"><i class="fa fa-circle-o"></i> Progress Bars</a></li>
                        <li><a href="pages/elements/toastr.html"><i class="fa fa-circle-o"></i> Toastr</a></li>
                        <li><a href="pages/elements/alerts.html"><i class="fa fa-circle-o"></i> Alert Box</a></li>
                        <li><a href="pages/elements/tooltip.html"><i class="fa fa-circle-o"></i> Tool Tip</a></li>
                        <li><a href="pages/elements/knob.html"><i class="fa fa-circle-o"></i> Knob</a></li>
                        <li><a href="pages/elements/slider.html"><i class="fa fa-circle-o"></i> Carousel</a></li>
                        <li><a href="pages/elements/pricing-table.html"><i class="fa fa-circle-o"></i> Pricing Tables</a></li>
                        <li><a href="pages/elements/range-slider.html"><i class="fa fa-circle-o"></i> Range Slider</a></li>
                        <li><a href="pages/elements/dropdowns.html"><i class="fa fa-circle-o"></i> Dropdowns</a></li>
                        <li><a href="pages/elements/grid-list.html"><i class="fa fa-circle-o"></i> Grid/List</a></li>
                        <li><a href="pages/elements/list-group.html"><i class="fa fa-circle-o"></i> List Group</a></li>
                        <li><a href="pages/elements/cards.html"><i class="fa fa-circle-o"></i> Cards</a></li>
                        <li><a href="pages/elements/tabs.html"><i class="fa fa-circle-o"></i> Tabs & Pills</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                        <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                        <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                        <li><a href="pages/forms/form-wizard.html"><i class="fa fa-circle-o"></i> Form Wizard</a></li>
                        <li><a href="pages/forms/file-upload.html"><i class="fa fa-circle-o"></i> File Upload</a></li>
                        <li><a href="pages/forms/form-mask.html"><i class="fa fa-circle-o"></i> Formatter</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Tables</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/tables/basic.html"><i class="fa fa-circle-o"></i> Basic tables</a></li>
                        <li><a href="pages/tables/advanced.html"><i class="fa fa-circle-o"></i> Adavanced tables</a></li>
                        <li><a href="pages/tables/nestable.html"><i class="fa fa-circle-o"></i> NesTable</a></li>
                        <li><a href="pages/tables/jsgrid.html"><i class="fa fa-circle-o"></i> JS Grid</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span>Mailbox</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/mailbox/inbox.html"><i class="fa fa-circle-o"></i> Inbox</a></li>
                        <li><a href="pages/mailbox/compose.html"><i class="fa fa-circle-o"></i> Compose</a></li>
                        <li><a href="pages/mailbox/read-mail.html"><i class="fa fa-circle-o"></i> Read</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-map-o"></i> <span>Maps</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/maps/google-map.html"><i class="fa fa-circle-o"></i> Google Map</a></li>
                        <li><a href="pages/maps/jvector-map.html"><i class="fa fa-circle-o"></i> jVector Map</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Custom Pages</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/custompages/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                        <li><a href="pages/custompages/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-circle-o"></i> Login
                                <span class="pull-right-container">
											<i class="fa fa-angle-left pull-right"></i>
										</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/custompages/login1.html"><i class="fa fa-circle-o"></i> Login Page 1</a></li>
                                <li><a href="pages/custompages/login2.html"><i class="fa fa-circle-o"></i> Login Page 2</a></li>
                                <li><a href="pages/custompages/login3.html"><i class="fa fa-circle-o"></i> Login Page 3</a></li>
                            </ul>
                        </li>
                        <li><a href="pages/custompages/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                        <li><a href="pages/custompages/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                        <li><a href="pages/custompages/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                        <li><a href="pages/custompages/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                        <li><a href="pages/custompages/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Multilevel</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-circle-o"></i> Level One
                                <span class="pull-right-container">
											<i class="fa fa-angle-left pull-right"></i>
										</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Level Two
                                        <span class="pull-right-container">
													<i class="fa fa-angle-left pull-right"></i>
												</span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    </ul>
                </li>

                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-danger"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-warning"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-info"></i> <span>Information</span></a></li>
                -->

            </ul>
        </div>
    </div>
</aside>
<!-- Sidebar Section Ends -->
