<!-- Sidebar Section Starts -->
<aside class="main-sidebar">
    <div class="nano">
        <div class="nano-content">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">TIJARA SHOP</li>




                <li class="treeview">
                    <a href="#">
                        <i class="fas fa-folder-open"></i>
                        <span>Fichiers</span>
                        <span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Articles</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Fournisseurs</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Clients</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-copy"></i>
                        <span>Gestion</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-truck"></i>
                        <span>Achats</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-pallet"></i>
                        <span>Stocks</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        <span>Statistiques</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-print"></i>
                        <span>Impression</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-calculator"></i>
                        <span>Info Comptable</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <span>Personel</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-gift"></i>
                        <span>Animation</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cogs"></i>
                        <span>paramètres</span>
                    </a>
                </li>


                <!--<li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-danger"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-warning"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-info"></i> <span>Information</span></a></li>
                -->

            </ul>
        </div>
    </div>
</aside>
<!-- Sidebar Section Ends -->
