<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TijaraShop | Caisse/Gestion</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <!-- Custom CSS Starts -->
    <link rel="stylesheet" href="assets/css/skin/all-skins.css">
    <link rel="stylesheet" href="assets/css/general/style.css">
    <link rel="stylesheet" href="assets/css/sidebar/side-nav.css">
    <link rel="stylesheet" href="assets/css/fonts/fonts-style.css">
    <link rel="stylesheet" href="assets/css/nanoscroller/nanoscroller.css">
    <link rel="stylesheet" href="assets/css/chosen.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
          media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
          media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">

    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <link rel="stylesheet" href="./assets/css/custom.css">
    <link rel="stylesheet" href="./assets/css/sweetalert.css">
    <link rel="stylesheet" href="./assets/css/datatables.css">

    <script src="./TijaraShop.js"></script>
    <script src="./assets/js/vue.js"></script>
</head>

<body class="sidebar-mini fixed skin-blue">

<div class="loading-page">
    <div class="counter">
        <p>Mise a jour de la caisse</p><br>
        <p>Veuillez patienter <span id="loadingAction"></span></p><br>
        <h1>0%

        </h1>
        <hr/>
    </div>
</div>

<div class="wrapper app-content" style="display: none">
    <% include vue/navbar.ejs %>
    <% include vue/leftbar.ejs %>
    <!-- Page Content Starts -->
    <div class="content-wrapper text-black-50">
        <div id="main">

        </div>
    </div>
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <div id="notification" class="hidden">
        <p id="message"></p>
        <button id="close-button" onClick="closeNotification()">
            Close
        </button>
        <button id="restart-button" onClick="restartApp()" class="hidden">
            Restart
        </button>
    </div>


    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form id="customConsoleForm">
                <input type="text" placeholder="Action" name="search" id="customConsoleCmd">

            </form>
        </div>
    </div>

    <script>
        const notification = document.getElementById('notification');
        const message = document.getElementById('message');
        const restartButton = document.getElementById('restart-button');
        ipcRenderer.on('update_available', () => {
            console.log("Page update available")
            ipcRenderer.removeAllListeners('update_available');
            message.innerText = 'A new update is available. Downloading now...';
            notification.classList.remove('hidden');
        });
        ipcRenderer.on('update_downloaded', () => {
            console.log("Page update downloaded")
            ipcRenderer.removeAllListeners('update_downloaded');
            message.innerText = 'Update Downloaded. It will be installed on restart. Restart now?';
            restartButton.classList.remove('hidden');
            notification.classList.remove('hidden');
        });
        var app_version;
        ipcRenderer.send('app_version')
        ipcRenderer.on('app_version', (event, arg) => {
            ipcRenderer.removeAllListeners('app_version')
            console.log(arg.version)
            app_version = arg.version
            version = arg.version + (isDev ? "<font color='red'> (dev_mode)</font>" : "")
            $("#version").html("Version " + version)
        })

        function closeNotification() {
            notification.classList.add('hidden');
        }

        function restartApp() {
            ipcRenderer.send('restart_app');
        }

        var search = false;
        $(window).keydown(function (event) {
            if (event.which == 113) { //F2
                if (search) {
                    closeSearch()
                } else {
                    openSearch();
                }
                return false;
            } else if (event.which == 114) { //F3

                return false;
            }else if (event.which == 27){
                if (search){
                    closeSearch()
                }
            }
        });

        function openSearch() {
            search = true;
            document.getElementById("myOverlay").style.display = "block";
            $('#customConsoleCmd').focus();
        }

        function closeSearch() {
            if (search) {
                search = false;
                document.getElementById("myOverlay").style.display = "none";
            }
        }
    </script>
</div>
<script src="./scripts/Front/ConsoleCmd.js"></script>
<script src="assets/js/jquery/slim.min.js"></script>
<script src="assets/js/jquery/jquery.min.js"></script>
<script src="assets/js/jqueryui/jquery-ui.min.js"></script>
<!-- Popper.JS -->
<script src="assets/js/jquery/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap/bootstrap.min.js"></script>
<!-- Page JS -->
<script src="assets/js/charts/Chart.bundle.min.js"></script>
<script src="assets/js/charts/bar/grouped-bar-chart.js"></script>
<script src="assets/js/charts/pie/doughnut-chart-multiline.js"></script>
<script src="assets/js/dashboard/dashboard1.js"></script>
<!-- Theme JS -->
<script src="assets/js/nanoscroller/nanoscroller.js"></script>
<script src="assets/js/custom/theme.js"></script>

<!--<script src="./assets/js/ui.js"></script>-->
<script>

    /*
                                                                   $$\               $$\                            $$\           $$\ $$\                      $$\
                                                                   $$ |              \__|                           \__|          \__|$$ |                     $$ |
           $$$$$$\   $$$$$$\   $$$$$$\         $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$\  $$\  $$$$$$\        $$\    $$\ $$\  $$$$$$\  $$\ $$ | $$$$$$\  $$$$$$$\ $$$$$$\
          $$  __$$\ $$  __$$\ $$  __$$\       $$  __$$\  \____$$\\_$$  _|  $$  __$$\ $$ | \____$$\       \$$\  $$  |$$ |$$  __$$\ $$ |$$ | \____$$\ $$  __$$\\_$$  _|
          $$ /  $$ |$$ |  \__|$$ /  $$ |      $$ /  $$ | $$$$$$$ | $$ |    $$ |  \__|$$ | $$$$$$$ |       \$$\$$  / $$ |$$ /  $$ |$$ |$$ | $$$$$$$ |$$ |  $$ | $$ |
          $$ |  $$ |$$ |      $$ |  $$ |      $$ |  $$ |$$  __$$ | $$ |$$\ $$ |      $$ |$$  __$$ |        \$$$  /  $$ |$$ |  $$ |$$ |$$ |$$  __$$ |$$ |  $$ | $$ |$$\
          $$$$$$$  |$$ |      \$$$$$$  |      $$$$$$$  |\$$$$$$$ | \$$$$  |$$ |      $$ |\$$$$$$$ |         \$  /   $$ |\$$$$$$$ |$$ |$$ |\$$$$$$$ |$$ |  $$ | \$$$$  |
          $$  ____/ \__|       \______/       $$  ____/  \_______|  \____/ \__|      \__| \_______|          \_/    \__| \____$$ |\__|\__| \_______|\__|  \__|  \____/
          $$ |                                $$ |                                                                      $$\   $$ |
          $$ |                                $$ |                                                                      \$$$$$$  |
          \__|                                \__|                                                                       \______/


                      __________   __________  ____  ___
                     /_  __/  _/  / ____/ __ \/ __ \/   |
                      / /  / /   /___ \/ / / / / / / /| |
                     / / _/ /   ____/ / /_/ / /_/ / ___ |
                    /_/ /___/  /_____/\____/\____/_/  |_|


    LLi|Vx*rvY}5Ux^>^<=Y#@@@@@@@@@@@@@@@@@@@@#gQQdZD$q0QGbgddE$B@####BQQ8$$gQB##########@@@@@@@@@@@@@@@@@##BQd}?|?())?)))(?|\\\|?))))
    xxvrux<^(xYHov~===^8@@@@@@@@@@@@@@@@@@@@@@@#BQg$g$D$bOO$g#@@@###8MOB###BQ88QQBB##@@#@@@@@@@@@@@@@@@@@@###B$y))rrrrrrrrrrr))rrrrr*
    xxvrux<<rxLPov~!=!I@@@@@@@@@@@@@@@@@@@@@@@#@@@@#80Q#BQgQ@@@@#gGkuOOwQ#HxVQ##Qd$0QB##@@@@@#####@@@@@@@@@@##BQm(r************rrr***
    LLxrcL^<rx}Gsx;!=rQ@@@@@@@@@@@@@@@@@@@@####@@@@@#@@@@@@@#ggO3w}LMQDhQ#d~cQ0KL-,:ZB#BB##@@@@@@@@@@@@@@@@@@##BQG)*****^^^^^^^***^^^
    LLL)VY^^riTqmx^~>V@@@@@@@@@@@@@@@@@@@###@#8OZd0gQ##Q8B###0eIXmgQIzLuV}^vUD^`'':]bBMyD#####@@@@@@@@@@@@@@@@##BBP)r***^^^^^^^***^^^
    LLi)c}*^)iTWmx^=~5@@@@@@@@@@@@@@@@@@#@#OED8g$HUUzOQB###0qXUdHQBOyR8jhKl(r|_''=c8QZ|*rx\TE###@@@@@@@@@@@@@@@@##Q3r**^^^^********^^
    }}Y?V}*^?YTMKx^~~d@@@@@@@@@@@@@@@@##Q@8G$@#QQ#OZKylZ#@8IkjO###B6dB##8GyTvvTc}uuvr*y0uZRl>uB##@@@@@@@@@@@@@@@@##QK**************^^
    LLx)y}^^|YTMmv>=~d@@@@@@@@@@@@@@@@@8O#B#Q#B#@@@@QOE6#@BQ#################BBBBBDu)}xL^LhsY=TQ###@@@@@@@@@@@@@@###Q\***r(r******r^^
    ii])ux<<rxYHX);!!K@@@@@@@@@@@@@@@##dBB8ggQB#@@@@@@@@@@@##BQ$0ROdddOR$8QQBB#BBBBQQQ8g6yThOy:\IM$##@@@@@@@@@@@@@##B)^^^^^^^^^^^**<<
    iix)ux><rxLPX)~!!V@@@@@@@@@@@@@@#QgO$EB#@@@@@@@#B$6MH3sUIsmKHZZZZMM5GWPmmmUjkkXImME$ggRM8Ei~Lrx$#@@@@@@@@@@@@@@#Br^^^^^^^^^^^*r^r
    ]]x)li<>rxiKI)~!!v#@@@@@@@@@@@@@Q8d6$#@@@@#gdWMMZgB###@############BBQQ8888g$E6Mkr;*]VW$88gx:o$ylQ@@@@@@@@@@@@@#Qr^^^^^^^^<<^*)*v
    xxxrTi<>rximU?~!!;6@@@@@@@@@@@@#DM8@@@@@BQQB##@@@@@@@@@@@@@@@@@@###########BQQ8g0OGocir*xwGqYxI<_3@@@@@@@@@@@@@#$^^^^^<<<<<^^r?*v
    xxxr}]>;rxisU?;!!=v#@@@@@@@@@@@BRg#@@@@@@@@@@@@@@@@#@@############################BQ$$DDEO3cLi\_:wB@@@@@@@@@@@@#I^^^^<<><<<^^r(*r
    iix)Ti<>rxiUh\>!!=!M@@@@@@@@@@@##@@@@@@@@@@@@@@########################################BQQQQ8RX)rv=c#@@@@@@@@@@$)^^^^^<>^^^^*r)*^
    Y}Y(T}^<rx]hev<!=!!rQ@@@@@@@###@@@@@@@@@@@@@@################BB########BBBQQQ8QQB#####@@@##BQQ##dV*v#@@@@@@@@@B}^^^^^^^<^^^****^<
    }YL)T}^<rxLh3x*>;=!=^o#@@@##@@@@@@@@@@@@@#############BBBBBBBBBBBBBBQQ8$06ZM55M5ZdMMZRgB#@@@@#BQ#dc$@@@@@@@@@8]^^^^^^^^^^^^^^**^<
    lT}vVcr*?}lKGL)**<=~^)c0###@@@@@@@@@@@@##########BBBQQQQ888QQQQQQ8Q888Q88$DOddddbHUkyyyyIdQ#@@#QBR(u#@@@@@@@0x****r**********rr**
    }}L(ll*^rxLoPLr^*;!=^)\*}Q#@@@@@@@@@@@########BBBBBBBBQ8$00$0D00D69RE$888888g0D6dHhV}LixxxuGQ@@##0L*B@@@@@#m(rrrrrr*****r********
    }}Y(TT*>rxiXW}*><~!=<r(^~z#@@@@@@@@@@#BBBB##########BBQ8g00D6bZZ5PPHGqZOREDEROMGmyTLv|)rrrrxmQ@@@###@@@@#Oxrrr*****^^************
    }}})Yl*<rxijq}*=~=!=>*(^=*6#@@@@@@@@#BQQBBB#####BBBQQQQ88gg$RZPXwIHbOR0g888gRMsylixvr*^^^;<rVZB@@@@@@@#Ec)r********^^^^^*********
    }}}|Yu*<rxLzGY^===!=<*)<=;uOQ#@@@@@#BQ8QQQQ88888QQQBBBBBQQQ8$6PyusZ$QQBBBBQ8DMzT}v)))*<~=!!;}mdQ#@@@QGi)v)*********^^^^^*********
    }}}\Ycr^)iYz5Y^===!!<r)<==~)xMB#@@@#8$$gg$DD$8QBB########BBQgEGycKOgBB#BBQB###0kl]xv)r<!:::!vcoGDQdzvrrr*********^^^^^^^^**^^^^^^
    }}}vYur<)]YkMl*===!!<r?>==~*r?LLT8#B$EEDDRDQQBB#@@@#BB###BB80OPViThM0QBBQ8QBBQZlLLv|(r<!:,,"*}uuyr^^<^*rr**********^^^^^^^^^^^^^^
    TTTv}u*<r]YkMur===!=^r?>==~*r)r))RBB$RRE008QQQ8Q####BB##BQQ$OGz}v)v}wM0gg$RZ3kTv*=!!=~!"____^Y}x*~!~)^^*r****^^^^^^^^^^^^^^^^^<<<
    uuuxlV*^)]}zMur=!=!=^)|>==;*rr))x8BB$66E0$$E9E$gg8QQQQQQ8g$R5z}v)r**rv}yeqMqmyTv*!",,,,__-__:)x>!^=>uT^*****^^^^^^^^<>>>^^^^<;~~<
    cuu]yIx)xTcP9V)~~<<^r\v^~^^r))\yMgBBDdO9E0E6O6E00g88ggg$$$EMhcL)^;><^*?xxvviYiv)^!:",,___--__:=!>(=:]z?^***^^^^^^^^<;;;;^^^<<>;;<
    uuTxuzv)xTchdV)~~^^*)vir^*)xxvxm6dE$dZdO699666ED0$$$ggg$$Eb3kc}r!":!~^vL](^;!:::::"""",__--__,:rTv^"^yx*rr***************rr**^^^^
    lTTxTw?*?LThdVr=~~~~*?x*;^r))((uEMZdMZZddddO669RRRE0$gg06dZqejjc?~==!!<uKzLr~::,____,,,__--__,,xez}~:r^****^^^<><<^^^^^**)r*^^^^^
    TTTxTk|^)iTIbVr==~==*?x*~<*r)))T9GqZMMZZZMZbdddOOO9DgQ0OR8QgdKhXj6$Rz(~)sZbKVv*~:,______---_::,,Tzl;"=>**^^^^<<<<<<^^^^^^r*^^^^^<
    T}}x}z?^)i}jZVr=====*?x*~<^rr))ldMOOMMMMMMMMZbddOOE$8Qg0Q##B0M3ke08$DKi(xl3OdPyx*=:,__---._:!!,_iuv!"!^**^^^^^^^^<^^^^^^^r^<<>;;>
    T}}xTk|^rx}zbV?~~~==^)v*~;<*rr)(VdEdMMMM5MMbddOO9D$ggg88Q888g00$$dzTi?^~~^(T3dZeTr>!:,----"!!!""!_,::~^*r**^^^^^^^^^^^^^^*^~~~;><
    TTTxTk\^r]}wZwv;;~!=<rv*~;>*rr))xZROMMMMMMZdOOO6Dggg$$$ggggg$0g8gZyx)**^^^*rxyGGzx*~=!,__,:!!:":"-_,!^*rrr*^^***^^^^^*^<<*^><<<<^
    TTTxTzv*r]}wZkv^<=!=<rv*<;>*r)(||mGMMZZMZZZdOO6R0ggg$$$gggg$RO6ERPTv()rr***rvxu3zir~!::"::!::",:!,_!*r************^^^^^^^)*^^^^^^
    TTTxTzv*r]TwZkv^^~==^)xr^;<*r))((}KqZZZZbbddO6R0$$$$$00000EOZPmmIux)r*^^rr)il}}eM}r~!!:::!:::,!;~!=*rrr***********^^^^^^*?*^****^
    TTTxTov*?Ylybzx^^~!=^|L?^>^*)(())\}KqMZbddddOR0gg$$0DRRD00000D6bWH3KmXcLxxuhGG3WEXv<!!!!!::::"~)r**rrr******************r|r***r**
    uuuiuh]rv}uwZXi^^~==*x}v*<^r|\\\vvxuUWMbddddOR0g8QQ8ggQQQQQQQ8g$9Z53XVuuVykmMO69Esx*=!!!::::::^))))(())))rrrrrrrrrrrrrrr)v?)(|xx)
    }}}x}zv*(iTVMwv<^=!!^?L)<~=^)))(|vvvvx]UddOOO9E$88g0ERREED0DE6dMPIVLv*<~=~^)xuKO9KL*=!!!:::::!r(???????vx)rrrrrrrrr)??((?||?|?()r
    }}}xLzv^)LlyMwv<<=!!>rxr<==^r))(?|?????LMdOORED0g$0DE96OO6RRRRR96dGz}vr^;>^^**|VWPTr~!!!:::!!~rrrrrrrrrvxrrr*********************
    iLLvxwv^)iTyMyv>>!:!>rvr~==^rrr)))))))))wdO66RD0$DEDDER66REDDDDE6OMmw}|*****^~~^xw}?*~=!!!!!!<rrrrrrrrrvxrrrr********************
    iiivvy|^rx}VMyv~~!:!~rv*~=!>*rrrrr))))))xHORREDDDEEEDDER966OddM5mV}xv)r**r*^<~==~)?*^>~====!!*rrrrrrrrrvx))rrrrrrrrr*************
    iiivvy\^rx}VMkx~~!:!~rvr~!!<*rrrrrr))))))}b9EEEEERREER6OddZWKIwc}]|r*<><^*^<;~===^**^><<;~!!!r)rrrrrrrrx]\?(())rrrrrrrrrrrrrrrrrr
    ]]]vvyv^*x}VMjx;>!!!>rxr>!=^rrrrrrrrr))(??TZRREDDDEDDR6OdddZM3XkwwcYvr****^<>;~~^*r*^^*^^~!!!*rrrrrrrr)xx\())))rr)rrrrrr*rrrrrrrr
    YYYxxwv^rxYVZzx<>!:!>rx)<==^rrrrrrrr)(|\\\\}MD0000DDDDDDDDDERdMMZMGIyuYx)rr***r)\vv|))r*;=!!:^rrrrr))))xv))rrrrrrrr*********rrrr*
    Y}}xxkx*rx}yZXx><=!!<)i|^==^rr)(()(??|\\vvvvc90$$$$$0000000$0DEEDE6ZPXyVTYiiiLLLiLxxv?*^>=!:_~rrrrr))))xv|))rrrrrr**********rrrr*
    uuc}YI}|xuyIdUL^^~!=*vYv*<<rvvvxxxxiiiiY}YY}uIR0gggg8ggggg$$$$0DDDEOM3UIzyVVcculTT}Lvr*^<=!"-`LI]))))))x]xvv|?())rrrrrrrrrr)(||(r
    }}YxxkL)v}uwdjv<<~!!^vYv*<<r?|vvvvvvvvvxxxxxxiGE$g88888888gggg$0DEOZqHKhjwyVVVVVu}ivrrr*^=:,` :OgsLvvvvxxxxxvxxxxvvvvxxvv|vxvvxv(
    }}}xvwir(iTwdov<>=!!^|Lv*~;*)|\vvvvvvvvvvvxxvvy6E$$g888888gggg$$D9dMWHKIwyVVyVVuTiv)rrr*>=:'   !OQ03uv(??(()))))))))))))))vx)r)rr
    }}}xvyx*r]Tydkv<>=!!^?]|^~~*))?\|\vvvvvvvvvvvvYZRD0$$ggggggg$$$$DOM5M53oyVcccu}Lxv())(r^~:'     <BQ88R3uv))))))}VLv)r)\r>!~r)))rr
    }}}]xwx*)Luwdk|><=!!<?]?^~;*)(|\\\vvvvvvvvvvvx3OOED000$$$$0$$$$0EdZ5M5KzVulTTYxvv))vxvr^!`      '8QQQQQQgZzx)r)z$QQ8g0DEZzLxixv)r
    }}}ixkx*vYukdz\;^=!!<?iv*<>*)?\vvvvvvxxvvvvvid#zqRREEEEDDD0000$0ROZMWPUjycuT}Lxvvv]Lxvr:`        RBQQQBBBBBQ06dGsyOBB#####@@###BQ
    }}}Lioirv}VzdIv<^=!!^\Yx*<<*)|vvi}]xTjM68DuGB@B}V69RRRREEEDDDDD0DOZGUjwyyyVuTYL]iTT}Y*-          O#BQBBBBBBBBB##@@@@@@@@@@@@@####
    TTl}}UL)v}VzdIx^^~!!^vYv*<^r(vlhRBB#@@@BQB#@@@Q}ijdRERRRRREDDDDDROM3jyyyyyyVuT}}uwV?,`          `D#BQBBBBBBBB####@@@@@@@@@@@@@##B
    uuuTTm}?xTyXOIL*r~!=*vLxxu3EQ#@@@@@@@@@@@@@@@@#VLLTIbD0DEEEDDDDDERdHhjjXIIozkkzzu~.`          `.<B#BBBBBB#########@@@@@@########@
    VVVuuPux}Vke6m}r)r(TK6Q#@@@@@@@@@@@@@@@@@@@@@@@duYYLToZ00DDEDDDDE9OMPPPPPPP33zx=.``        ``.-"k############6MB###@@@@##########
    VVVTTKTvilwU6ZZdg#@@@@@@@@@@@@@@@@@@@@##@@@@@@@#dVTYLYTyP6$DEERR6OdZMqWWGWPy),'`````     ``'.--^O###B#OyPB#Bg(v098##@@@##########
    uVVlTHIsdgB#@@@@@@@@@@@@@@@@@@@@@@@@@@g#BQ#@@@@@#Gyu}iiL}TkGdRR96OdbZMWPIL~_.``````````````...,i$##d*yr^k#QYPcyM?3###@@##########
    HO$QB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@gQQ#Q$#@@@@@#$3wc}Lii]]x]TwmM5KIzXT*:__.`````````````````.:V8##Qx=xsqwku*zzTc#@##############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#d8QQB#@@@@@@#Q63zc}Lixv|vVMmccymGMZV~-'`          ````  `'~yQ###BOIyykywZL}zO#@##############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#B#Bg#@@@@@@@#B$Zewu}ixxzQ@##QQBBQ8QQ$y,                 `.^m######8M0MTv**TZ#@#@@@@##########
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#OZQ#@@@@@@@@#B$d3zV}LyQ@@@@@@@@@####@@#G~`              `-TB###BB####BE8#####@@@@@@##########
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@@@@@@@@##Q$bKkuTPB@@@@@@@@####B###BQ$U*.            `:6####BBBBB#########@@####@@@#######
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#BQ0Zsyj6QQB##@@@@#####B##Q$09R6PY:`         'VQB###BBBBBBB##########@@###########
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B8RGhMg80D0gB#@@@@######8dMMPHHGWGy(,`    ``)$QB#BBBBBBBBBB######@@@@############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Bgd5Eg$06dO6$Q#@@@#####BM3KmUemK3HGqGT!```-^Z$8QB#BBBBBBBB#####@@@@@#############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BObb6R9OdZZZdDQ#@@#####EVcwzhKKmmKK3PHGu~:*I6DgQ##BBBBBBB#####@@@@@##############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@gZPmmMOdbZZZZbd9#@#####KYTVyIKKmmmmmmm3MPVuqd68####BBB########@@@@@@#############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Q3hXzKMZZMZZZbZd#@####BVY}}}yIsmmmshIIeUuvkMZg###############@@@@@@@@@###########
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BWmXkz3MMMMMZZZ9#@##@@B}vvix]}luuTY]xxv\)}PM0################@@@@@@@@@###########
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BZPXVTcKZZMMMMZB@###@@@H**xvx]xv|*^^;;<*vjM$#@###############@@@@@@@@############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#BMeyl}TyGMMZZZQ@@##@@@@Q|~**)vvr*<~~~;*(TW8#@###############@@@@@@@@#############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##BmzVuTTuyKMZd8@@@#@@@@@#V<*<r\r*;~~;<*)]mQ@@@###############@@@@@@###############
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##BIkwcY}}}VM6g#@@@#@@@@##Z~*~)iv*~!=>*)xkQ@@@###############@@@@@@################
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##jyTxvvxYyd$#@@@@#@@@@##g~=!rT}\<!!~^)uQ@@@@##############@@@@@@#################
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##Vxvv\|vYjRB@@@@@@@@@###B|::<L}x*~=~*TQ@@@@###############@@@@###################
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##}(?||((Lh8@@@@@@@@@#####V__=|xx)^^)G#@@@@###############@@@@@###################
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#Vrr\v\\}P#@@@@@#@@@#####P__=)\(rrxD@@@@@###################d$###################
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#3rr|vvxy$@@@@@##@@@@####Z,_~)v|)VQ@@@@@@#################QWr!ogB################
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@G**)vxYG#@@@@@##########0:,;)\|V#@@@@@@@##############@#9Tv*>==^rviuwPRQ########
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@6**rxLV8@@@@@@####@#####Q^:^)|K#@@@@@@@@###########@@@8Yuq$QQd}rLLv*>=!!<vI8####
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#VrrxcM#@@@@@@@@@@@@@#@@#v;)]R@@@@@@@@@@########@@@@@#ZY~""=***!~)LKD9Mzi^::rIQ#
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Q}(|Vg@@@@@@@@@@@@@@@@@#YruQ@@@@@@@@@@@@######@@@@@@Qx=)ZKy})~:::,,!^vVqdUv~,:u
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@QVxmB@@@@@@@@@@@@@@@@@#cG#@@@@@@@@@@@@@@@@@@@@@@@@@#y,`*TX0#gL:^*~:~<~!:~xkVr!
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Qzb#@@@@@@@@@@@@@@@@@@Q@@@@@@@@@@@@@@@@@@@@@@@@@@@@dx".~=_^\:-vV)=<*~!^^!,~iT
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#QQ@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#hozv]}|,```'rkTLYr!,:::=:,
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@QwI##Q8R}!-^=-.'._<)*r^.,u?
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Duj#@@@@DlvLTx=..!:__":_'^T
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Mxe@@@@@$uuQ#BWv~*x)!.`__..
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@m)U@@@@@QVTZ8#@#80gghr,,rr=
     */


</script>


</body>

</html>