<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TijaraShop | Caisse/Gestion</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <!-- Custom CSS Starts -->
    <link rel="stylesheet" href="assets/css/skin/all-skins.css">
    <link rel="stylesheet" href="assets/css/general/style.css">
    <link rel="stylesheet" href="assets/css/sidebar/side-nav.css">
    <link rel="stylesheet" href="assets/css/fonts/fonts-style.css">
    <link rel="stylesheet" href="assets/css/nanoscroller/nanoscroller.css">
    <link rel="stylesheet" href="assets/css/chosen.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
          media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
          media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <link rel="stylesheet" href="./assets/css/custom.css">
    <link rel="stylesheet" href="./assets/css/sweetalert.css">
    <script src="./assets/js/ui.js"></script>
    <script src="./assets/js/vue.js"></script>

</head>

<body class="sidebar-mini fixed skin-blue">

<div class="loading-page">
    <div class="counter">
        <p>Mise a jour de la caisse</p><br>
        <p>Veuillez patienter</p><br>
        <h1>0%

        </h1>
        <hr/>
    </div>
</div>

<div class="wrapper app-content" style="display: none">
    <% include vue/navbar.ejs %>
    <% include vue/leftbar.ejs %>
    <!-- Page Content Starts -->
    <div class="content-wrapper text-black-50">
        <div id="main">

        </div>
    </div>
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

</div>

<script src="assets/js/jquery/slim.min.js"></script>
<script src="assets/js/jquery/jquery.min.js"></script>
<script src="assets/js/jqueryui/jquery-ui.min.js"></script>
<!-- Popper.JS -->
<script src="assets/js/jquery/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap/bootstrap.min.js"></script>
<!-- Page JS -->
<script src="assets/js/charts/Chart.bundle.min.js"></script>
<script src="assets/js/charts/bar/grouped-bar-chart.js"></script>
<script src="assets/js/charts/pie/doughnut-chart-multiline.js"></script>
<script src="assets/js/dashboard/dashboard1.js"></script>
<!-- Theme JS -->
<script src="assets/js/nanoscroller/nanoscroller.js"></script>
<script src="assets/js/custom/theme.js"></script>
</body>

</html>